src/solution/IE Flow Creator Flows/flow_data_S7_Connector.json
[
    {
        "id": "844b09ed.8e4a28",
        "type": "tab",
        "label": "Data Collection",
        "disabled": false,
        "info": "msgoutput={}\nmsgoutput.measurement = msg.topic.split('/').pop;\nmsgoutput.payload = {\n    serverTimestamp: msg.payload.ts.toISOString(),\n    value: Math.round(msg.payload.val * 1e2)/ 1e2,\n    name: msgoutput.measurement,\n}\n\nreturn msgoutput;"
    },
    {
        "id": "636ba96f.54a21",
        "type": "tab",
        "label": "KPI-Calc-Dummy",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d62e415b.14096",
        "type": "tab",
        "label": "KPI Estimation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ab7e97a.bda1e7",
        "type": "mqtt-broker",
        "z": "",
        "name": "Databus",
        "broker": "ie_databus",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d75cd8f0.f1bcf8",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://opc-server:4841",
        "secpol": "Basic256",
        "secmode": "SIGN",
        "login": true
    },
    {
        "id": "23dc6d97.ff346a",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://172.17.0.1:4841",
        "secpol": "Basic256",
        "secmode": "SIGNANDENCRYPT",
        "login": true
    },
    {
        "id": "30c0e1a4.185f76",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://ServiceName:Port",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "3e6912e1.eda84e",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "24f42f18.468a",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "986cf005.d467e",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "275dc0b6.b07c1",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "8df05cec.36f8a8",
        "type": "influxdb",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "f0764f8.29ec3b",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "79ce44a7.31ae44",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "f8738841.64ea18",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "1a718d46.199d13",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "8b9f8de3.4bc1d8",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "4879590b.555638",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "6c3b2345.1c302c",
        "type": "influxdb",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "a80b7fca.20df5",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "18647a80.cb9b0e",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "5d873a60.0a8cc4",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "1f919a07.2c825e",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://10.7.50.125:4841",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "6aeb4991.b75ec8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "nodered-client",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5895b800.b2536",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3464a28c.0c29b6",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://opc-server:4841",
        "secpol": "Basic256",
        "secmode": "SIGN",
        "login": true
    },
    {
        "id": "dd5ee179.7516",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "eca55fa1.344fa",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ac064909.244c3",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "efed21db.ab743",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "e0433ab4.27f77",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3fb88e41.52b822",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "80d4b41c.ab9d9",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e4460c90.606e78",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "2bc03b99.0d1b1c",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "7c5ada49.70fec4",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "868fa5aa.393538",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e4f95ef8.ba4d7",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "2f7fc075.5157c8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "2d20f85d.f72548",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "23d6cf42.22254",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://172.17.0.1:4841",
        "secpol": "Basic256",
        "secmode": "SIGNANDENCRYPT",
        "login": true
    },
    {
        "id": "254dc963.90dba6",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "9ef7cbb5.bf1da8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cab82b5b.fa3348",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "46dc0f6e.2f32b8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "4a80314f.c0b7e8",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://ServiceName:Port",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "bbf72204.0b92f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "nodered-client",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e27088fb.d339",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "1fe07560.f5abd3",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://opc-server:4841",
        "secpol": "Basic256",
        "secmode": "SIGN",
        "login": true
    },
    {
        "id": "c34b2912.d36ba",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "76766932.7cf4e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e25db5a.e37444",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "4f0e80a7.2b387",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "975b1891.c4dab",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "e66cf076.24ad2",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "4472cda1.b6190c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ab123e88.64ed38",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "9d8f3bca.aa81d8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "b530629c.0e932",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3d299eb1.840a9a",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b9d58de7.3652c8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "959c3b25.8b23b",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "ec8ef1fe.7a31c",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "67e99118.f82b78",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://172.17.0.1:4841",
        "secpol": "Basic256",
        "secmode": "SIGNANDENCRYPT",
        "login": true
    },
    {
        "id": "7c5a41bb.4c4fb",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "9fada53c.7eae4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9ad7224.2dafee",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "cb6b9ef8.40985",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "cbd38553.5d7cc8",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://ServiceName:Port",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "db722934.0ae1c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "nodered-client",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "43933807.0a3198",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "82b3841a.515a48",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://opc-server:4841",
        "secpol": "Basic256",
        "secmode": "SIGN",
        "login": true
    },
    {
        "id": "4151dc02.0d27c4",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "4b1492b7.4307e4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "945be8e.691df18",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "50f894d7.1ab324",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "60ffcea9.942d08",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "a692f54f.735cc8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "a871ced4.2bd918",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "acf79971.f40d3",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "631acd3b.9544f4",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "fe940749.1486c",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "fb33ef91.09133",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4856257c.9aeaf4",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "974bea04.3bc66",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "10af0d7a.f11463",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "7383af53.8c932",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://172.17.0.1:4841",
        "secpol": "Basic256",
        "secmode": "SIGNANDENCRYPT",
        "login": true
    },
    {
        "id": "1db86096.0c3207",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3410bf9.561564",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "90520bde.b4baf8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "8e0e85d0.c484d",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "335c3595.98cbc2",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://ServiceName:Port",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "9419a955.d5d79",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "nodered-client",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c745a339.347a3",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "595bf629.b0528",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://opc-server:4841",
        "secpol": "Basic256",
        "secmode": "SIGN",
        "login": true
    },
    {
        "id": "b11d338e.c9bef8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "620b6532.20d27c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ee388a07.edae2",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "262b3e27.2bde3a",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "3af495cf.efae82",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "2bea2ebf.0af84a",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "5741e480.21d9c4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8a252006.95ae1",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "f47febad.c62a1",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "69e8b7c9.93ed58",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "c08b8a25.ecdce8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f1af24cf.5a5de8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "47eef984.5e0618",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "fbff367d.dcc778",
        "type": "influxdb",
        "z": "",
        "hostname": "influx",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "768f5850.b55428",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://172.17.0.1:4841",
        "secpol": "Basic256",
        "secmode": "SIGNANDENCRYPT",
        "login": true
    },
    {
        "id": "ba7f921e.7995b8",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "Acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "9b8354b2.aa08b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosqiuto",
        "broker": "172.20.0.8",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1081d42e.6dec0c",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "fbdf358c.e63458",
        "type": "influxdb",
        "z": "",
        "hostname": "172.17.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "acq",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "e1599058.79ae1",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://ServiceName:Port",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "27f466e.564bf1a",
        "type": "comment",
        "z": "636ba96f.54a21",
        "name": "Calculate Total Power Consumption",
        "info": "",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "772f5bbe.2927ec",
        "type": "function",
        "z": "636ba96f.54a21",
        "name": "Query-List",
        "func": "var a ='\"name\"'\nmsg.query=\"select * from powerdrive1 where \"+a+\"='powerdrive1'\"\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "309958d4.80e488"
            ]
        ]
    },
    {
        "id": "4d09a15d.d9e2",
        "type": "function",
        "z": "636ba96f.54a21",
        "name": "Query-List",
        "func": "var a ='\"name\"'\nmsg.query=\"select * from powerdrive2 where \"+a+\"='powerdrive2'\"\nreturn msg; \n\n\n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "34668a99.2936e6"
            ]
        ]
    },
    {
        "id": "34668a99.2936e6",
        "type": "influxdb in",
        "z": "636ba96f.54a21",
        "influxdb": "3e6912e1.eda84e",
        "name": "influxdb_query_power2",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "97a7f0be.62d7"
            ]
        ]
    },
    {
        "id": "97a7f0be.62d7",
        "type": "function",
        "z": "636ba96f.54a21",
        "name": "collect_last_power_values",
        "func": "context.data = context.data || {};\n\nswitch (msg.payload[msg.payload.length-1].name) \n{\n    case \"powerdrive1\":\n        context.data.power1 = msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    case \"powerdrive2\":\n        context.data.power2= msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.power1 !== null && context.data.power2 !== null) \n{\n\tmsg2 = {};\n    msg2 = context.data;\n\n    context.data=null;\n\treturn msg2;\n} \nelse\n{\n    \n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "d87b9891.7204e",
                "bd6a8898.fd7aa"
            ]
        ]
    },
    {
        "id": "261a9dae.eb5232",
        "type": "function",
        "z": "636ba96f.54a21",
        "name": "join_and_write_power_Influxdb",
        "func": "total = msg.payload;\n\n\n    Beta = [{\n        measurement: \"GEN_KPI_TotalPower\",\n        fields:{\n            name: \"TotalPower\",\n            value:total,\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "5f2f3560.aed71c",
                "6d5aa8d5.c8d078"
            ]
        ]
    },
    {
        "id": "6d5aa8d5.c8d078",
        "type": "influxdb batch",
        "z": "636ba96f.54a21",
        "influxdb": "3e6912e1.eda84e",
        "precision": "",
        "retentionPolicy": "",
        "name": "influxdb_write",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "309958d4.80e488",
        "type": "influxdb in",
        "z": "636ba96f.54a21",
        "influxdb": "3e6912e1.eda84e",
        "name": "influxdb_query_power1",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "97a7f0be.62d7"
            ]
        ]
    },
    {
        "id": "bab7323e.76e2b",
        "type": "comment",
        "z": "844b09ed.8e4a28",
        "name": "### Consume data from SIMATIC S7 Connector  and storage in influxdb ###",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "709e0daf.499b2c",
        "type": "link in",
        "z": "636ba96f.54a21",
        "name": "",
        "links": [
            "3e5dc939.97a5b6",
            "ac2bfcf6.795f8",
            "74d48a59.b773a4"
        ],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "772f5bbe.2927ec",
                "4d09a15d.d9e2"
            ]
        ]
    },
    {
        "id": "d87b9891.7204e",
        "type": "function",
        "z": "636ba96f.54a21",
        "name": "sum_total_power",
        "func": "var arr = [];\nvar mean=0;\nvar sum=0;\n\narr = Object.keys(msg).map(function(key) {\n    return msg[key]\n    })\narr.splice(-1,1)\n\nfor(var i=0; i < arr.length ; i++){\n      sum = sum + arr[i];\n}\n// mean = sum / arr.length; \n\nmsg2 = new Object();\n//msg2.payload = (arr[0] + arr[1] + arr[2]) / arr.length; \n\nmsg2.payload = sum;\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "261a9dae.eb5232"
            ]
        ]
    },
    {
        "id": "5f2f3560.aed71c",
        "type": "debug",
        "z": "636ba96f.54a21",
        "name": "KPI-Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1510,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd6a8898.fd7aa",
        "type": "debug",
        "z": "636ba96f.54a21",
        "name": "Last Power Values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "312b0c94.ec5ffc",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "44891320.efcc74"
            ]
        ]
    },
    {
        "id": "c4de64a3.60134",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba9e8da2.80f8e8",
        "type": "link in",
        "z": "d62e415b.14096",
        "name": "input_raw_data",
        "links": [
            "74d48a59.b773a4"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "8ffb6577.2f768"
            ]
        ]
    },
    {
        "id": "2675661b.ba4b02",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "c4de64a3.60134",
                "28cf9c4.a6657e4"
            ]
        ]
    },
    {
        "id": "3b8caf45.65c3e",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "COUNT",
        "func": "msgQueryCount = {}\nmsgQueryCount.measurement = msg.measurement\nmsgQueryCount.query = 'SELECT COUNT(\"value\") FROM ' + msg.measurement\n\nreturn msgQueryCount;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "2675661b.ba4b02"
            ]
        ]
    },
    {
        "id": "28cf9c4.a6657e4",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "GET_LAST_ENTRIES",
        "func": "msgQueryGet = {}\nmsgQueryGet.measurement = msg.measurement\nif (msg.payload[0].count >= 50) {\n    msgQueryGet.query = 'SELECT * FROM ' + msg.measurement + ' ORDER BY time DESC limit 50'\n\n    return msgQueryGet;\n}\n\nelse {return }\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "312b0c94.ec5ffc"
            ]
        ]
    },
    {
        "id": "26d70546.6945a2",
        "type": "comment",
        "z": "d62e415b.14096",
        "name": "### check if measurement has enough entries and get last 5 values if true",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "44891320.efcc74",
        "type": "json",
        "z": "d62e415b.14096",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "6e99221e.07522c",
                "4e2489a.3c82a78"
            ]
        ]
    },
    {
        "id": "6e99221e.07522c",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "response_get",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "ba6fe9c8.e90ad",
        "type": "comment",
        "z": "d62e415b.14096",
        "name": "PowerDrive1 and PowerDrive2 last 50 entries",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d21e5e2.95ce12",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 830,
        "y": 400,
        "wires": [
            [
                "3750c556.d9f2d2"
            ]
        ]
    },
    {
        "id": "87a4b564.77f2a",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "mqtt output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1340,
        "y": 460,
        "wires": []
    },
    {
        "id": "3a9132f3.0dd94e",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "SELECT COUNT(\"value\") FROM voltagedrive3",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "83a8bc4f.67fb78"
            ]
        ]
    },
    {
        "id": "83a8bc4f.67fb78",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "GET_LAST_ENTRIES",
        "func": "// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'voltagedrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM voltagedrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "3d21e5e2.95ce12"
            ]
        ]
    },
    {
        "id": "c17551a2.88fda8",
        "type": "mqtt out",
        "z": "d62e415b.14096",
        "name": "Mean",
        "topic": "Mean",
        "qos": "",
        "retain": "",
        "broker": "1ab7e97a.bda1e7",
        "x": 1320,
        "y": 500,
        "wires": []
    },
    {
        "id": "163ba0ad.36ffdf",
        "type": "comment",
        "z": "d62e415b.14096",
        "name": "VoltageDrive3 dynamic sample of entries",
        "info": "",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "24f8f96a.60c74e",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 810,
        "y": 600,
        "wires": [
            [
                "3750c556.d9f2d2"
            ]
        ]
    },
    {
        "id": "45115505.303894",
        "type": "influxdb in",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "SELECT COUNT(\"value\") FROM currentdrive3",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "75feb818.ba5448"
            ]
        ]
    },
    {
        "id": "75feb818.ba5448",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "GET_LAST_ENTRIES",
        "func": "\n\n// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'currentdrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM currentdrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "24f8f96a.60c74e"
            ]
        ]
    },
    {
        "id": "af29b896.045bd",
        "type": "comment",
        "z": "d62e415b.14096",
        "name": "CurrentDrive3  dynamic sample of entries",
        "info": "",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "8ffb6577.2f768",
        "type": "switch",
        "z": "d62e415b.14096",
        "name": "filter",
        "property": "measurement",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "powerdrive1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerdrive2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voltagedrive3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "currentdrive3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "3b8caf45.65c3e"
            ],
            [
                "3b8caf45.65c3e"
            ],
            [
                "3a9132f3.0dd94e"
            ],
            [
                "45115505.303894"
            ]
        ]
    },
    {
        "id": "3750c556.d9f2d2",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "manual_join",
        "func": "var tempo_cd3_batch = context.get('cd3_batch')||[];\nvar tempo_vd3_batch = context.get('vd3_batch')||[];\n\nfunction build_analytics_object(){\n    data_obj = {\n        sample_number : msg.SampleNumber,\n        current_drive3_batch : tempo_cd3_batch,\n        voltage_drive3_batch : tempo_vd3_batch,\n    }\n    return data_obj\n}\n\n\nif (msg.measurement == 'currentdrive3'){\n    tempo_cd3_batch = msg.payload\n    context.set('cd3_batch',tempo_cd3_batch)\n    \n}\nelse if (msg.measurement == 'voltagedrive3') {\n    tempo_vd3_batch = msg.payload\n    context.set('vd3_batch',tempo_vd3_batch)\n}\n\nif (tempo_cd3_batch.length > 0 && tempo_vd3_batch.length >0 ) {\n    py_obj={}\n    py_obj.payload = build_analytics_object()\n    tempo_cd3_batch = []\n    tempo_vd3_batch = []\n    context.set('cd3_batch', tempo_cd3_batch)\n    context.set('vd3_batch', tempo_vd3_batch)\n    \n    return py_obj\n    \n}\n\nelse{\n    return\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "87a4b564.77f2a",
                "c17551a2.88fda8"
            ]
        ]
    },
    {
        "id": "620df342.d35bf4",
        "type": "mqtt in",
        "z": "d62e415b.14096",
        "name": "",
        "topic": "StandardKpiResult",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "bffe0621.3ea488",
                "ed23db1.d4a4aa8"
            ]
        ]
    },
    {
        "id": "bf8dc2ad.6ae898",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "response standard kpis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "bffe0621.3ea488",
        "type": "json",
        "z": "d62e415b.14096",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "2daf73e6.3581f4"
            ]
        ]
    },
    {
        "id": "2daf73e6.3581f4",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "store data",
        "func": "my_payload = {};\nmy_payload = msg.payload;\noutput_standardkpis = {}\noutput_standardkpis.measurement = my_payload.name.toUpperCase() + '_STANDARD_KPIS'\noutput_standardkpis.payload = {\n    mean: Math.round(my_payload.mean_result * 1e2)/ 1e2,\n    median: Math.round(my_payload.median_result * 1e2)/ 1e2,\n    stddev: Math.round(my_payload.stddev_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_standardkpis;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 820,
        "wires": [
            [
                "7cdf2632.75b998",
                "bf8dc2ad.6ae898"
            ]
        ]
    },
    {
        "id": "7cdf2632.75b998",
        "type": "influxdb out",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "write_influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "55430907.faf0b8",
        "type": "mqtt in",
        "z": "d62e415b.14096",
        "name": "",
        "topic": "MeanResult",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "36722c89.b4ef44",
                "810cd23f.99e758"
            ]
        ]
    },
    {
        "id": "10478aba.bffadd",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "response mean",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "36722c89.b4ef44",
        "type": "json",
        "z": "d62e415b.14096",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "863b357c.fa6248"
            ]
        ]
    },
    {
        "id": "863b357c.fa6248",
        "type": "function",
        "z": "d62e415b.14096",
        "name": "store data",
        "func": "my_payload = {};\nmy_payload = msg.payload;\noutput_pd1_mean = {}\noutput_pd1_mean.measurement = my_payload.name.toUpperCase()\noutput_pd1_mean.payload = {\n    value: Math.round(my_payload.power_mean_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_pd1_mean;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 960,
        "wires": [
            [
                "185e896d.7f4347",
                "10478aba.bffadd"
            ]
        ]
    },
    {
        "id": "185e896d.7f4347",
        "type": "influxdb out",
        "z": "d62e415b.14096",
        "influxdb": "3e6912e1.eda84e",
        "name": "write_influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "cf807cda.94826",
        "type": "comment",
        "z": "d62e415b.14096",
        "name": "Data Analytics Results",
        "info": "",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "ed23db1.d4a4aa8",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "810cd23f.99e758",
        "type": "debug",
        "z": "d62e415b.14096",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 920,
        "wires": []
    },
    {
        "id": "4e2489a.3c82a78",
        "type": "mqtt out",
        "z": "d62e415b.14096",
        "name": "StandardKpis",
        "topic": "StandardKpis",
        "qos": "",
        "retain": "",
        "broker": "1ab7e97a.bda1e7",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "190dfd6.519b083",
        "type": "mqtt in",
        "z": "844b09ed.8e4a28",
        "name": "powerdrive1",
        "topic": "ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/powerdrive1",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d3d9fe40.e6df58"
            ]
        ]
    },
    {
        "id": "dc952f8a.0c49f8",
        "type": "mqtt in",
        "z": "844b09ed.8e4a28",
        "name": "powerdrive2",
        "topic": "ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/powerdrive2",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d3d9fe40.e6df58"
            ]
        ]
    },
    {
        "id": "e6321241.9b1ca",
        "type": "mqtt in",
        "z": "844b09ed.8e4a28",
        "name": "voltagedrive3",
        "topic": "ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/voltagedrive3",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "d3d9fe40.e6df58"
            ]
        ]
    },
    {
        "id": "701a405.65cfa4",
        "type": "mqtt in",
        "z": "844b09ed.8e4a28",
        "name": "currentdrive3",
        "topic": "ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/currentdrive3",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "d3d9fe40.e6df58"
            ]
        ]
    },
    {
        "id": "2848582e.20d42",
        "type": "debug",
        "z": "844b09ed.8e4a28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "d3d9fe40.e6df58",
        "type": "function",
        "z": "844b09ed.8e4a28",
        "name": "Convert S7 Connecor JSON to InfluxDB JSON",
        "func": "msgoutput={}\nmsgoutput.measurement = msg.topic.split('/').pop();\nmsg.payload = JSON.parse(msg.payload);\nmsgoutput.payload = {\n    timestamp: msg.payload.ts,\n    value: Math.round(msg.payload.val * 1e2)/ 1e2,\n    name: msgoutput.measurement,\n    qualitycode: false\n}\n\nreturn msgoutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "912307ff.be792",
                "74d48a59.b773a4",
                "2848582e.20d42"
            ]
        ]
    },
    {
        "id": "74d48a59.b773a4",
        "type": "link out",
        "z": "844b09ed.8e4a28",
        "name": "data_gen",
        "links": [
            "ba9e8da2.80f8e8",
            "709e0daf.499b2c"
        ],
        "x": 1195,
        "y": 320,
        "wires": []
    },
    {
        "id": "912307ff.be792",
        "type": "influxdb out",
        "z": "844b09ed.8e4a28",
        "influxdb": "c745a339.347a3",
        "name": "write_data_influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1270,
        "y": 260,
        "wires": []
    }
]